<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Тут був я - список</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="min-h-screen max-h-screen bg-gray-50 flex flex-col justify-center relative overflow-hidden">
    <img src="{{ url_for('static', filename='img/beams.jpg') }}" alt="" class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 max-w-none" width="1308" />
    <div class="absolute inset-0 bg-[url({{ url_for('static', filename='img/grid.svg') }})] bg-center [mask-image:linear-gradient(180deg,white,rgba(255,255,255,0))]"></div>
    <div class="max-h-screen my-10 mb-28 relative bg-white shadow-xl md:w-7/12 lg:w-5/12 xl:w-3/12 ring-1 ring-gray-900/5 md:max-w-xl md:mx-auto md:rounded-lg">
      <div class="px-10 pt-8  pb-5 border-b border-blue-300/50">
        <p class="text-xl">Тут було ... {{ users_list|length }}</p>
        <p class="text-gray-600">Список людей, які були тут:</p>
      </div>
      <div class="md:max-h-96 overflow-scroll">
        <table class="min-w-full divide-y divide-gray-200 ">
          <tbody class="bg-white divide-y divide-gray-200 ">
            {% for user in users_list %}
            <tr>
              <td class="px-10 py-4 whitespace-nowrap">
                <p>{{ user }}</p>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="px-10 mt-2 pt-4 pb-5 border-t border-blue-300/50 font-semibold">
          <p class="text-gray-900">Відмітити пристутність?</p>
          <p>
            <a href="../" class="text-sky-500 hover:text-sky-600">&larr; Назад</a>
          </p>
      </div>
    </div>
  </div>
</body>

</html>
